<header>
    <h1>CareerCanvas</h1>
    <nav>
        <ul>
            <li>
                <a href="/job/new"><button>Add a new application</button></a>
            </li>
            <li>
                <a href="/job"><button>Home</button></a>
            </li>
        </ul>
    
    </nav>
  </header>