<header>
    <h1>CareerCanvas</h1>
        <ul>
        <li>
            <a href="/user/signup"><button>Signup</button></a>
        </li>
        <li>
            <a href="/user/login"><button>Login</button></a>
        </li>
        <li>
            <a href="/user/logout"><button>Logout</button></a>
        </li>
        
        <ul>
      
</header>